{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Search Engine</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'main.js' %}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h1 style="text-align: center;">SBIR</h1>
            <input type="text" placeholder="Enter image URL here">
            <div class="file-drop-area">
                <span class="choose-file-button">Choose files</span>
                <span class="file-message">or drag and drop files here</span>
                <input class="file-input" type="file" multiple accept="image/*">
                <div id="preview-container" class="preview-container"></div>
            </div>
            <button class="start-button">Start</button>
        </div>
        <div class="main-content">
            <h2>Image Search Engine</h2>
            <div class="image-grid">
                <div class="image-item"><img src="cat.jpg" alt="Cat on Keyboard"></div>
                <div class="image-item"><img src="person.jpg" alt="Person with Camera"></div>
                <div class="image-item"><img src="airplane.jpg" alt="Airplane in Sky"></div>
                <div class="image-item"><img src="coffee.jpg" alt="Person with Coffee"></div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).on('change', '.file-input', function() {
        var files = $(this)[0].files;
        var previewContainer = $('#preview-container');
        previewContainer.empty(); // Clear previous images

        for (var i = 0; i < files.length; i++) {
            var reader = new FileReader();
            reader.onload = function(e) {
                var img = $('<img>').attr('src', e.target.result).addClass('preview-image');
                previewContainer.append(img);
            }
            reader.readAsDataURL(files[i]);
        }
    });
</script>
</html>
