body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 25%;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.upload-box p {
    margin: 0;
}

.upload-area {
    background-color: #fff;
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.main-content {
    width: 75%;
    padding: 20px;
    box-sizing: border-box;
}

.main-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.image-item img {
    width: 100%;
    height: auto;
    display: block;
}

.start-button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007BFF;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.start-button:hover {
    background-color: #0056b3;
}

.file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    width: 400px;
    max-width: 83%;
    padding: 25px;
    border-radius: 3px;
    transition: 0.2s;
    background-color: #fff;
    border: 2px dashed #ccc;
   
  }
  
.choose-file-button {
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase;
}

.file-message {
    font-size: small;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;

}

.preview-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.preview-image {
    max-width: 100%;
    max-height: 100px;
    border-radius: 5px;
}